.dashboard {
  padding-top: 5rem;
  display: flex;
  justify-content: space-around;
  margin-top: 5%;
}
.Comanda_client h2 {
}

.comanda__section {
  background: rgba(255, 193, 0, 0.71);
  padding: 5%;
  width: 487px;
  height: 927px;
  left: 879px;
  top: 97px;
}

.commanda__total {
  margin-top: 2rem;
  font-family: Ropa Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
}
