//@import url('../../style.scss') (screen);

.header__dashboard {
  padding: 1rem;
  background-color: #802e10d5;
  position: absolute;
  width: 100%;
  left: -6px;
  top: -1px;
}
.header__settings {
  flex-direction: row;
  display: flex;
  justify-content: space-around;
}

.bfBtn {
  background-color: transparent;
  font-family: Ropa Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 35px;
  line-height: 51px;
  color: white;
  border: none;
}
