.client__input {
  width: 70%;
  height: 3rem;
  left: 930px;
  top: 143px;
  font-size: 20px;
  padding: 0.5rem;
  background: #ffeaae;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.commander__client {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.commanda__card {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.commanda__card p {
  font-family: Ropa Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 32px;
}

.c_deleteBtn img {
  background-color: rgba(255, 193, 0, 0.71);
  border: none;
  height: 35px;
  padding-left: 2rem;
}

.c_deleteBtn {
  background-color: transparent;
  border: none;
}

.btn__delit {
}
