@import url("https://fonts.googleapis.com/css2?family=Ropa+Sans&display=swap");
/*/comment*/
* {
    margin: 0;
    padding: 0;
}

body {
  font-family: "Ropa Sans", sans-serif;
  background-color: #ffeaae;
  color: #673500;
  height: 100vh;
}

main {
  height: 100vh;
  display: flex;
}

aside {
  background-color: rgba(255, 193, 0, 0.71);
  width: 35%;
  font-size: 2em;
}

aside svg {
  width: 80%;
  margin: 0 10%;
}

aside h1 {
  text-align: center;
  font-size: 1.5em;
}

aside,
.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login {
  width: 65%;
    margin: 0;
    gap:1.5em;
}

.login h2{
    font-size:2.5em;
    text-align: center;
}

.login form {
  height: 50%;
  width: 50%;
  background-color: #ffc100;
  box-sizing: border-box;
  margin: 0 auto;
  border: 8px solid #802d10;
  box-shadow: 13px 15px 0px #802d10;
  border-radius: 43px;
  display:flex;
  flex-direction: column;
  justify-content: center;
  padding: 4em 3em;
}


.login form button { 
  background: #f6511d;
  border: 1px solid rgba(128, 45, 16, 0.27);
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(128, 45, 16, 0.35);
  border-radius: 0.7em;
  color: white;
  padding:0.5em 2em;
  /*max-width: 75%;*/
  margin-top: 25%;
  font-size: 1.3em;
  font-family: "Ropa Sans", sans-serif;
}


input[type="email" i], [type="password" i] {
    width: 100%;
    height: 100%;
    background: #FFFFFF;
    border: 1px solid rgba(128, 45, 16, 0.26);
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgb(128 45 16 / 30%);
    border-radius: 7px;
    padding: 0 .5rem;
}

.identifiers {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.identifiers input{
  color: #8D8D8D;
}

.identifiers label {
    font-family: Ropa Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 32px;
    color: #802D10;
}


.login__button{
  width: 100%;
}

#error{
  position: absolute;
  top: 35%;
  left: 55.5%;
  font-size: 1.3em;
}

@media only screen and (min-width: 992px) {

  .login form {
    padding: 2em 3em;
  }
}